/* Imports */
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Cabin');

/* CSS */

nav,body {
  margin: 0;
  padding: 0;
}

.leftside,.rightside {
  display : flex;
  height : 100%;
}

@media screen and (max-width: 768px) {
  .leftside,.rightside {
    display : flex;
    height : 761px;
  }
}


.leftside-text {
  color: #eee;
  margin-bottom: 60px;
}

.alltxt {
  font-size: 16px;
}

.links {
  text-decoration: none;
  color: #eee;
}

.headings {
  font-weight: 700;
  font-size: 36px;
  display: flex;
}

.right-heading {
  margin-left: 20px;
  margin-right: 20px;
}

.email-text {
  font-family: 'Open Sans', sans-serif;
}

.leftside {
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#222;

}
.rightside {
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#fff;
}

.pp {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 1px solid #222;
  border-radius: 1px solid #fff;
  padding: 10px;
  background-color: #777;
  box-shadow: 1px 1px 5px #000;
}
