/* Imports */
@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* CSS */


body {
	color: #333;
}

.about-me, .prof-det {
	color: #000;
	margin-top: 0;
}

.prof-pic {
	width: 300px;
	height: 300px;
	padding: 5px;
	border-radius: 50%;
}

.main-header {
	font-family: 'Bitter', sans-serif;
}

.post-header {
	font-family: 'Cabin', sans-serif;
	text-decoration: underline;
	font-size: 32px;
}

.post-header2 {
	font-family: 'Cabin', sans-serif;
	font-size: 30px;
}

.post-desc {
	font-size: 16px;
}

.index-header {
	font-family: 'Cabin', sans-serif;
}

.index-desc {
	font-size: 16px;
}

.all-text {
	font-size: 16px;
}
