
/* Imported fonts */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Neuton');
@import url('https://fonts.googleapis.com/css?family=Anton');

/* CSS */

body > header {
	background-color: rgb(26, 115, 232);
}

body {
	background-color: #fff;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	margin: 0px;
}

.prof_pic {
	float: right;
}

body > main {
	font-family: 'Open Sans', sans-serif !important;
	color: #111;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 300px;
  margin-right: 300px;
	border-bottom: 1px solid #383838;
}

body > main > h2 {
	color: rgb(26, 115, 232);
}

footer {
	margin-top: 0;
	color: #383838;
}

.lower-l {
	float: left;
}

.lower-r {
	float: right;
}
