
/* Imported fonts */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Neuton');
@import url('https://fonts.googleapis.com/css?family=Anton');

/* CSS */

body {
  margin-left: 80px;
  margin-right: 80px;
	background-color: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.prof_pic {
	float: right;
}

body > main {
	font-family: 'Open Sans', sans-serif !important;
	color: #ddd;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 1px solid #ddd;
}

body > main > h2 {
	color: #0077ff;
}

footer {
	margin-top: 0;
	color: #ddd;
}
