/* Imported fonts */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* CSS */

.head_container {
  width: 90%;
  margin: 0 auto;
}

.head_name {
  float: left;
	font-size: 20px;
  padding: 1px 5px;
	margin-top: 4px;
  margin-bottom: 5px;
}

.head_name > a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
	text-decoration: none;
	color: #fff;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
	display: inline-block;
	margin-bottom: 7px;
  margin-left: 80px;
  padding-top: 7px;

	position: relative;
}

nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #000;
	top: 0;
  width: 0%;
  position: absolute;

	transition: all ease-in-out 200ms;
}

nav a:hover::before {
  width: 100%;
}
