* {
	margin:0;
	padding: 0;
}

.web-link {
  text-transform: none;
  text-decoration: none !important;
}

.web-name {
  font-size: 22px;
  color: #000;
  border: 1px solid #000;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-width: medium;
  display: inline-block;
}

.border {
  margin-left: 15px;
}

.navbar-style {
	box-shadow: 0 5px 10px #efefef;
	text-transform: uppercase;
}

.icon-bar {
	background: #0077ff;
}

li > a {
	color: #333;
}
