* {
	margin:0;
	padding: 0;
}

.web-link {
  text-transform: none;
  text-decoration: none !important;
}

.web-name {
  font-size: 20px;
  color: #9d9d9d;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}

.border {
  margin-left: 5px;
}

.navbar-inverse {
	box-shadow: 0 5px 10px #888;
  margin-left: -5px;
  margin-right: -5px;
}

.icon-bar {
	background: #0077ff;
}

.prof-pic {
  width: 250px;
  height: 250px;
}

li > a {
	color: #333;
}
