body {
  background-color: #fefefe;
  margin: 0px;
}

body > h1 {
  font-weight: bold !important;
}

body > header {
  border: 1px solid #000;
}

body > footer {
  color: #0000aa;
}

main {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #000;

}

footer {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #000;
}

#b_l {
  background-color: #000;
}
